.layouts_left {
    display: table-cell;
    zoom: 1.18;
    margin-right: -100%;
    margin-top: -10%;
}

.layouts_right {
    display: table-cell;
    text-align: left;
    line-height: 1;
    padding-left: 50px;
    padding-top: 50px;
}

    .layouts_left a, .layouts_right a {
        display: inline-block;
        position: relative;
    }

.wrap.layouts_right hr {

    height: 100px;
    visibility: hidden;
    margin-bottom: -1px;
}
.wrap.layouts_left hr {
    height: -100px;
    visibility: hidden;
    margin-bottom: -1px;
}
