@page
@using Microsoft.AspNetCore.Mvc.Localization

@model LogoutModel
@inject IViewLocalizer Localizer

<header>
    @{
        if (User.Identity is not null && User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Click here to Logout"]</button>
            </form>
        }
        else
        {
            <p>@Localizer["You have successfully logged out of the application."]</p>
        }
    }
</header>
