@using TicketManagement.Common.DI
@using TicketManagement.Common.Entities

@model Area
@inject ILayoutService LayoutService

@{
    ViewBag.Title = "Edit venue";

    var selectListLayoutsId = (await LayoutService.GetAllAsync())
        ?.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Name })
        .ToList();
}

@if (TempData.ContainsKey("notice"))
{
    <script type="text/javascript">
        alert(@TempData["notice"]);
    </script>
}
<form asp-action="Edit" asp-controller="AreaManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-floating">
        <select asp-for="LayoutId" asp-items="selectListLayoutsId" class="form-select"></select>
        <label class="form-label">Layout</label>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CoordX" class="control-label"></label>
        <input type="text" asp-for="CoordX" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CoordY" class="control-label"></label>
        <input type="text" asp-for="CoordY" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-secondary" />
    </div>
</form>
