@using EventManagementApiClientGenerated
@using Microsoft.AspNetCore.Mvc.Localization

@model Venue
@inject IViewLocalizer Localizer

<form asp-action="Create" asp-controller="VenuesManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input type="text" asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input type="text" asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["Add"]" class="btn btn-outline-secondary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}