@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.Common.DI

@inject IViewLocalizer Localizer

@model IEnumerable<ILayout>

@{
    ViewData["Title"] = Localizer["Select layout"];
}

<div class="form-group">
    <div class="wrap">
        <div class="left">
            <table class="table">
                <tr><th>Name</th><th>Description</th></tr>
                @foreach (var layout in Model)
                {
                    <tr>
                        <td>
                            @layout.Name;
                            <br />
                        </td>
                        <td>
                            @layout.Description;
                            <br />
                        </td>
                    </tr>
                }
            </table>
        </div><div class="right">
            <table class="table">
                <tr><th></th></tr>
                <tr>
                    <td>
                        <form asp-action="CreateEvent" asp-controller="EventManagement" method="post">
                            <input type="hidden" />
                            <div class="table-active">
                                @foreach (var layout in Model)
                                {
                                    <input type="checkbox" name="layoutsId" value="@layout.Id" />
                                    <hr />
                                }
                            </div>
                            <button type="submit" class="btn btn-primary">Select</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>