@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        @if (User.IsInRole("EventManager"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="EventManagement" asp-action="Index" title="Event management">Events manage</a>
            </li>
        }
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="VenueManagement" asp-action="Index" title="Venue management">Venues manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="UserManagement" asp-action="Index" title="Users management">Users manage</a>
            </li>
        }
        @if (User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Cart" asp-action="Index" title="Cart">Cart</a>
            </li>
        }
    </ul>
}
